//Nos ayuda configurar a babel para indicar que queremos taducir de nuestro codigo 
{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins":[
        "@babel/plugin-transform-runtime"
    ]
}